/* Simple reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {  
  list-style: none; 
  -webkit-margin-before: 0; 
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

a { text-decoration: none; }

img, embed, object, video { max-width: 100%; }

/* Estilos principales */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/* Panel de anuncios*/
.anuncios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 20px;
  margin-bottom: 40px;
}

/* Estilos de etiquetas de los anuncios */
.badge { color: white; }
.badge-lifestyle { background-color: #007BFF; }
.badge-mobile { background-color: #28A745; }
.badge-motor { background-color: #DC3545; }
.badge-work { background-color: #6C757D; }

/* Estilos de las tarjetas de anuncios */
.card { position: relative; }
.card-title { font-size: .9rem; }
.card-img-top { height: 175px; }
.card-text { font-size: 1rem; }

.card-icon { 
  position: absolute;
  width: 32px; 
  top: 10px;
  left: 10px;
}

.price {
  font-size: .9rem;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 140px;
  right: 10px;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  color: white;
}