body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.anuncios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 20px;
  margin-bottom: 40px;
}

.card-img-top {
  height: 175px;
}

.card-icon {
  width: 32px;
}

.card-title {
  font-size: 1rem;
  display: inline;
}

.card-text {
  font-size: 1rem;
}

.badge {
  color: white;
}

.badge-lifestyle { background-color: #007BFF; }
.badge-mobile { background-color: #28A745; }
.badge-motor { background-color: #DC3545; }
.badge-work { background-color: #6C757D; }