<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Nodepop</h1>
    <p>A continuación puede ver todos los anuncios disponibles</p>
    <% for(let i =0; i<items.length; i++) { %>
      <li> 
        <h2><%= items[i].name %> </h2>
        <img src="<%= items[i].photo %>" />
      </li>
    <% } %>
  </body>
</html>